<!--interpolation-->
<!-- <h1> Welcome to {{hotelName}}</h1> -->
<app-header></app-header>
<!-- <app-header></app-header>
<app-header></app-header> -->
<div [hidden]="hideRooms">
    <!--Propety Binding-->
    Number of Rooms:
    <div [innerText]="numberOfRooms"></div>
</div>
<!--Display if rooms.availableRooms is available else display no rooms-->
<!-- {{rooms?.availableRooms ?? 'No Rooms'}} -->
<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>
<div>
    <button (click)="addRoom()">Add Room</button>
</div>
<!--Built in Directive-->
<div *ngIf="hideRooms">
    <!-- Communicating with parent using @input-->
    <app-rooms-list [rooms]="roomList" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>

</div>

<!--Event Binding-->
<button (click)="toggle()">Toggle</button>