<!--interpolation-->
<!-- <h1> Welcome to {{hotelName}}</h1> -->
<!-- <app-header></app-header> -->
<!-- <app-header></app-header>
<app-header></app-header> -->
<!-- Using asyn pipe to display data in a stream -->
<!-- {{rooms$ | async | json}} -->
<!-- <div [hidden]="hideRooms">
    Number of Rooms:
    <div [innerText]="numberOfRooms"></div>
</div> -->
<!--Display if rooms.availableRooms is available else display no rooms-->
<!-- {{rooms?.availableRooms ?? 'No Rooms'}} -->
<!-- {{roomList | json}} -->

<!-- <div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div> -->
<div>
    <button class="btn btn-success" routerLink="add">Add Room</button>
</div>
<!-- <h1>
    {{getError$ | async}}
    Number of Rooms : {{roomsCount$ | async}}
</h1> -->

<!--Built in Directive-->
<div *ngIf="rooms$ | async as rooms">
    <!-- Communicating with parent using @input-->
    <app-rooms-list [rooms]="rooms" [title]="title" (selectedRoom)="selectRoom($event)"></app-rooms-list>

</div>

<!--Event Binding-->
<!-- <button (click)="toggle()">Toggle</button>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button> -->


<!-- <h1>
    {{totalBytes}} loaded
</h1> -->

<router-outlet></router-outlet>