<!--interpolation-->
<h1> Welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
    <!--Propety Binding-->
    Number of Rooms:
    <div [innerText]="numberOfRooms"></div>
</div>
<!--Display if rooms.availableRooms is available else display no rooms-->
<!-- {{rooms?.availableRooms ?? 'No Rooms'}} -->
<!-- {{roomList | json}} -->

<!--Built in Directive-->
<div *ngIf="rooms.availableRooms > 0 ">
    Rooms List
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Check in Time</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        <tr [ngClass]="e? 'even' : 'odd'" *ngFor="let room of roomList; let e =even; let o = odd; let i = index;">
            <td>{{i}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType | uppercase}}</td>
            <td>{{room.amenites | titlecase}}</td>
            <td>{{room.checkInTIme | date : 'MMM/dd/yyyy'}}</td>
            <td>{{room.price | currency}}</td>
            <td>{{room.rating}}</td>
        </tr>
    </table>
</div>

<!--Event Binding-->
<button (click)="toggle()">Toggle</button>